* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: black;
}

.container {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 0 4px;
}

button {
  background-color: rgb(34, 31, 31);
  color: white;
  height: 25px;
  width: 25px;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 50%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dim-grey {
  background-color: dimgrey;
  color: black;
}

.orange {
  background-color: orange;
  color: white;
}

input {
  height: auto;
  width: auto;
}

@media (min-width: 800px) {
  .container {
    justify-content: space-between;
    max-width: 600px;
    margin-left: 2rem;
  }

  button {
    height: 35px;
    width: 35px;
    padding: 2rem;
  }
}


@media screen and (max-height: 600px) {
    button {
        margin: .85rem;
    }
}

@media screen and (max-height: 400px) {
    button {
        margin: .6rem;
        padding: 1.5rem;
    }

    .container {
        margin-left: .7rem;
    }
}