* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    height: 100vh;
}

body {
}


.screen {
    position: relative;
    height: 100vh;

}
.container {
    /* height: 100vh; */
    display: flex;
    /* -ms-flex-align: end; */
    /* align-items: flex-end; */
    position: absolute;
    width: 100%;
    bottom: 0 !important;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 0 .8rem;
}


p {
    background-color: rgb(34, 31, 31);
    color: white;
    height: 25px;
    width: 25px;
    padding: 1.5rem;
    margin: 2rem 0;
    border-radius: 50%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dim-grey {
    background-color: dimgrey;
    color: black;
}

.orange {
    background-color: orange;
    color: white;
}

 
@media (min-width: 800px) {
    .container{
       justify-content: space-between;
       max-width: 600px;
       /* padding-bottom: 5%; */
       margin-left: 3rem;
    }

    p {
        height: 35px;
        width: 35px;
        padding: 2rem;
    }
}


