* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    overflow: hidden;
}

body {
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 2rem;
}


p {
    background-color: rgb(34, 31, 31);
    color: rgb(5, 4, 4);
    height: 2rem;
    width: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    font-weight: bold;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dim-grey {
    background-color: dimgrey;
    color: black;
}

.orange {
    background-color: orange;
    color: white;
}
 
@media (min-width: 800px) {
    .container{
       justify-content: left;
        align-items: center;
        margin: 0;
        padding: 1rem;
    }

    div {
        margin: 2rem 2rem;
    }
}
